body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}
.loaded {
  display: none;
}
.pre-loader {
  position: absolute;
	width: 100%;
	height: 100vh;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
  z-index: 2;
}
svg {
	display: none;
}

$bolb-color: #FFF200;

/* // Loader */
.blobs {
  filter: url(#goo);
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 70px;
  transform-style: preserve-3d;
}
.blobs .blob-center {
  transform-style: preserve-3d;
  position: absolute;
  background: #FFF200;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform-origin: left top;
  transform: scale(0.9) translate(-50%, -50%);
  -webkit-animation: blob-grow linear 3.4s infinite;
          animation: blob-grow linear 3.4s infinite;
  border-radius: 50%;
  box-shadow: 0 -10px 40px -5px #FFF200;
}

.blob {
  position: absolute;
  background: #FFF200;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation: blobs ease-out 3.4s infinite;
          animation: blobs ease-out 3.4s infinite;
  transform: scale(0.9) translate(-50%, -50%);
  transform-origin: center top;
  opacity: 0;
}
.blob:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.blob:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.blob:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.blob:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.blob:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes blobs {
  0% {
    opacity: 0;
    transform: scale(0) translate(calc(-330px - 50%), -50%);
  }
  1% {
    opacity: 1;
  }
  35%, 65% {
    opacity: 1;
    transform: scale(0.9) translate(-50%, -50%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0) translate(calc(330px - 50%), -50%);
  }
}

@keyframes blobs {
  0% {
    opacity: 0;
    transform: scale(0) translate(calc(-330px - 50%), -50%);
  }
  1% {
    opacity: 1;
  }
  35%, 65% {
    opacity: 1;
    transform: scale(0.9) translate(-50%, -50%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0) translate(calc(330px - 50%), -50%);
  }
}
@-webkit-keyframes blob-grow {
  0%, 39% {
    transform: scale(0) translate(-50%, -50%);
  }
  40%, 42% {
    transform: scale(1, 0.9) translate(-50%, -50%);
  }
  43%, 44% {
    transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  45%, 46% {
    transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  47%, 48% {
    transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  52% {
    transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  54% {
    transform: scale(1.7, 1.6) translate(-50%, -50%);
  }
  58% {
    transform: scale(1.8, 1.7) translate(-50%, -50%);
  }
  68%, 70% {
    transform: scale(1.7, 1.5) translate(-50%, -50%);
  }
  78% {
    transform: scale(1.6, 1.4) translate(-50%, -50%);
  }
  80%, 81% {
    transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  82%, 83% {
    transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  84%, 85% {
    transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  86%, 87% {
    transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  90%, 91% {
    transform: scale(1, 0.9) translate(-50%, -50%);
  }
  92%, 100% {
    transform: scale(0) translate(-50%, -50%);
  }
}
@keyframes blob-grow {
  0%, 39% {
    transform: scale(0) translate(-50%, -50%);
  }
  40%, 42% {
    transform: scale(1, 0.9) translate(-50%, -50%);
  }
  43%, 44% {
    transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  45%, 46% {
    transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  47%, 48% {
    transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  52% {
    transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  54% {
    transform: scale(1.7, 1.6) translate(-50%, -50%);
  }
  58% {
    transform: scale(1.8, 1.7) translate(-50%, -50%);
  }
  68%, 70% {
    transform: scale(1.7, 1.5) translate(-50%, -50%);
  }
  78% {
    transform: scale(1.6, 1.4) translate(-50%, -50%);
  }
  80%, 81% {
    transform: scale(1.5, 1.4) translate(-50%, -50%);
  }
  82%, 83% {
    transform: scale(1.4, 1.3) translate(-50%, -50%);
  }
  84%, 85% {
    transform: scale(1.3, 1.2) translate(-50%, -50%);
  }
  86%, 87% {
    transform: scale(1.2, 1.1) translate(-50%, -50%);
  }
  90%, 91% {
    transform: scale(1, 0.9) translate(-50%, -50%);
  }
  92%, 100% {
    transform: scale(0) translate(-50%, -50%);
  }
}

a {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: black;
  font-size: 15px;
}

h1 {
  font-size: 3.3rem;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: rgba(255, 255 , 255, 0.2);
  transition: 0.4s ease;
}
h1:hover {
  color: rgba(255, 255 , 255, 0.65);
}
h4 {
  font-family: 'Varela Round', sans-serif;
  color: black;
}
.container {
  background-image: url(images/back-img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255 , 255, 0.1);
  border-top: 1px solid rgba(255, 255 , 255, 0.5);
  border-left: 1px solid rgba(255, 255 , 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 10px 110px 60px 60px;
}

.button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 23%;
}
.btn {
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  background: white;
  padding: 10px 40px;
  border: solid white 2px;
  text-decoration: none;
  transition: 0.4s ease;
}

.btn:hover {
  color: white;
  background: transparent;
}
.register {
  text-align: center;
  margin-top: 50px;
  margin-left: 23%;
}

.textbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.info-container {
  display: flex;
  flex-direction: row;
}
.user:after {
  content: "";
    display: block;
    width: 0%;
    border-bottom: 1.7px solid #ccff00;
  box-shadow: 2px 1.5px 3.5px #ccff00;
    transition: 0.4s ease;
}

.user:hover:after {
 width: 50%;
}
.info-container i{
  margin-top: 20px;
  color: #132c33;
}

input {
  cursor: pointer;
  display: flex;
  border: none;
  outline: none;
  background: none;
  font-family: 'Cormorant', serif;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 5px;
}
::placeholder {
  color: rgb(201,207,204);
  opacity: 0.3;
  font-size: 18px;
}
.info-container:after {
  content: "";
    display: block;
    width: 0%;
    border-bottom: 1.7px solid #ccff00;
  box-shadow: 2px 1.5px 3.5px #ccff00;
    transition: 0.4s ease;
}

.info-container:hover:after {
 width: 22%;
}
